body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.title {
  text-transform: uppercase;
  color: rgb(6, 144, 190);
  letter-spacing: 1px;
}

.title span {
  margin-left: 0.5rem;
  color: darkolivegreen;
}

.underline-container {
  display: flex;
  justify-content: center;
}

.underline {
  width: 6rem;
  height: 5px;
  background-color: darkolivegreen;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.tours-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tours {
  width: 100%;
  display: flex;
  flex-direction: column;

}

.tour-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour {
  position: relative;
  width: 22rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

}

.tour-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
}

img {
  width: 22rem;
  object-fit: cover;
}

.btns {
  display: flex;
  column-gap: 1rem;
  margin-top: 2rem;
}

.btn {
  width: 4rem;
  height: 2rem;
  background-color: lightseagreen;
  border-color: transparent;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 5px;
  cursor: pointer;
}

.price {
  position: absolute;
  top: -1rem;
  right: 0;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: darkolivegreen;
  color: #fff;
  border-bottom-left-radius: 20px;
}

.backpacker {
  width: 7rem;
}

.fa-map {
  color: darkolivegreen;
  margin-right: 0.5rem;
}

.location {
  text-transform: capitalize;
  color: lightslategray;
}

.tour-title {
  font-size: 1.2rem;
  text-transform: capitalize;
  margin-top: 0;
  color: lightslategray;
}

.tour-description {
  margin-top: 0;
  color: lightslategray;
  line-height: 1.5rem;
}

@media screen and (min-width:600px) {
  .tours {
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;
  }

}

@media screen and (min-width:768px) {
  .tour-container {
    display: grid;
    grid-template-columns: repeat(2, 22rem);
    align-items: start;
    column-gap: 1rem;
    margin-left: 8rem;
  }

}

@media screen and (min-width:992px) {
  .tour-container {
    display: grid;
    grid-template-columns: repeat(3, 22rem);
    align-items: start;
    column-gap: 1rem;
    margin-left: 10rem;
  }

}


@media screen and (min-width:1090px) {
  .tour-container {
    display: grid;
    grid-template-columns: repeat(4, 22rem);
    align-items: start;
    column-gap: 1rem;
    margin-left: 10rem;
  }

}